{% extends 'base.html.twig' %}

{% block title %}Edit Event{% endblock %}

{% block body %}
    <div id="title" class="row align-center">
        <h3>Modifier une sortie</h3>
    </div>

    {{ include('event/_form.html.twig') }}
{% endblock %}
