{% extends 'base.html.twig' %}

{% block title %}Annulation{% endblock %}

{% block body %}
    <div id="title" class="row align-center">
        <h3>Annulation d'une sortie</h3>
    </div>

    {{ include('cancel_event/_form.html.twig') }}


{% endblock %}
