{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Login{% endblock %}

{% block body %}
    <div id="title">
        <br>
        <h3>SORTIR.COM</h3>
        <em>
            <h5>Le site des stagiaires <br>
                de <br>
                l'ENI Ecole Informatique
            </h5>
        </em>
    </div>

    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell medium-2 large-4">
            </div>

            <div class="cell small-12 medium-8 large-4">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <label for="inputUsername" class="sr-only">Identifiant :</label>
                    <input type="text" name="username" id="inputUsername" class="form-registration-input">

                    <label for="inputPassword" class="sr-only">Mot de passe :</label>
                    <input type="password" name="password" id="inputPassword" class="form-registration-input">

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Se souvenir de moi
                        </label>
                    </div>

                    <button class="hollow button secondary" type="submit">Connexion</button>

                </form>

            </div>

            <div class="cell medium-2 large-4">
            </div>
        </div>
    </div>
{% endblock %}
