{% extends 'base.html.twig' %}

{% block title %}Edit Campus{% endblock %}

{% block body %}
    <h1>Edit Campus</h1>

    {{ include('campus/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('campus_index') }}">back to list</a>

    {{ include('campus/_delete_form.html.twig') }}
{% endblock %}
