<div class="footer">
    <div class="row">
        <ul class="menu align-center menu-hover-lines">
            <li><a href="#">Contact</a></li>
            <li><a href="#">Mentions légales</a></li>
        </ul>
    </div>
</div>